li, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}
:focus {
  outline: 0;
}
img{
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
}
label{
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
}
button, input{
  border: none;
  font-size: 100%;
  margin: 0;
  outline: none;
  line-height: normal;
}
html {
  box-sizing: border-box;
  height: 100%;
}
body {
  padding: 0;
  font-family: 'Gotham Pro';
}
.header{
  padding: 16.5px 0;
}
.container{
  max-width: 1430px;
}
.nav-list{
  text-transform: uppercase;
}
.nav-item{
  margin-left: 25px;
  display: inline-block;
}
.nav-link{
  padding: 0;
  font-size: 14px;
  color: #48494a;
  font-weight: bold;
}
.main{
  background-color: #f1f1f1;
}
.cards{
  padding-top: 43px;
  padding-bottom: 30px;
}
.cards__title{
  font-size: 30px;
  color: #48494a;
  margin: 0;
}
.cards__link{
  color: #fff;
  background-color: #e43030;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 25px;
  text-decoration: none;
  transition: box-shadow linear 0.3s;
}
.cards__link:hover{
  box-shadow: 0px 13px 22px 2px rgba(250, 25, 25, 0.45);
  text-decoration: none;
  color: #fff;
}
.below{
  padding-bottom: 120px;
}
.card{
  height: 100%;
  max-width: 335px;
  cursor: pointer;
  border-radius: 0;
  transition: box-shadow linear 0.3s;
}
.card:hover{
  box-shadow: 0 5px 4.6px 0.4px rgba(23, 24, 25, 0.5);
}
.card__wezom{
  position: relative;
  width: 100%;
  height: 242px;
}
.card__wezom:before{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.card__img{
  height: 242px;
  object-fit: cover;
}
.card-front{
  padding: 5px 15px;
  background: #ffc600;
  position: absolute;
  top: 15px;
  left: 21px;
  font-size: 14px;
  color: #48494a;
  font-weight: bold;
  text-transform: uppercase;
}
.card-front:before{ 
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 10px solid #ffc600; 
  border-right: 10px solid transparent;
}
.card__icon{
  display: block;
  width: 30px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 18px;
}
.card__icon:hover{
  background-color: rgba(0, 0, 0, 0.5);
  transition: box-shadow linear 0.3s;
}
.card__heart{
  width: 20px;
  height: 20px;
  fill: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
}
.card__heart:hover{
  fill: yellow;
}
.card__text{
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position: absolute;
  bottom: 8px;
  left: 20px;
  line-height: 20px;
}
.card__text--wezom{
  position: absolute;
  bottom: 8px;
  left: 20px;
}
.card__adres{
  padding: 15px 23px;
  position: relative;
}
.card-place{
  font-size: 14px;
  color: #48494a;
  letter-spacing: 0.5px;
  overflow: hidden;
  height: 18px;
  margin-bottom: 15px;
}
.card-metro{
  position: absolute;
  top: 14px;
  right: 15px;
}
.card__svg:hover{
  fill: #848a92;
}
.card-price{
  font-size: 18px;
  color: #161617;
  padding: 5px 15px;
  background-color: #fffbd7;
}
.card__decision{
  color: #80848d;
  font-size: 12px;
}
.section{
  background-image: linear-gradient(90deg,#fafafa 50%,#f1f1f1 0);
}
.wrapper{
  background-color: #fafafa;
  padding-top: 53px;
  padding-right: 80px;
  padding-bottom: 56px;
  width: 100%;
  height: 100%;
}
.wrapper__title{
  color: #48494a;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.wrapper__link{
  color: #fff;
  background-color: #e43030;
  border-radius: 3px;
  font-size: 14px;
  padding: 12px 25px;
  text-decoration: none;
}
.wrapper__link:hover{
  box-shadow: 0 13px 22px 2px rgba(250, 25, 25, 0.45);
  text-decoration: none;
  color: #fff;
  transition: box-shadow linear 0.3s;
}
.aside{
  background-color: #fff;
  max-width: 454px;
  height: auto;
  cursor: pointer;
  position: relative;
  box-shadow: 0 5px 4.6px 0.4px rgba(23, 24, 25, 0.05);
}
.aside:hover{
  box-shadow: 0 5px 5px 1px rgba(23, 24, 25, 0.50);
  transition: box-shadow linear 0.3s;
}
.aside__photo{
  position: relative;
  height: 248px;
}
.aside__photo:before{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}
.aside__picture{
  height: 248px;
  object-fit: cover;
}
.aside__kvartira{
  height: 248px;
  object-fit: cover;
}
.aside__sentence{
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.aside__suptext{
  font-size: 14px;
  color: #48494a;
  line-height: 20px;
  height: 125px;
  padding: 24px 24px 0 20px;
  overflow: hidden;
}
.aside__subtext{
  font-size: 12px;
  color: #80868e;
  padding: 20px 20px 30px;
}
.content{
  background: #f1f1f1;
  width: 100%;
}
.content__subscription{
  max-width: 394px;
  height: 597px;
  background: #f1f1f1;
  margin: 0 auto;
}
.content__email{
  padding-top: 115px;
}
.content__suptitle{
  color: #48494a;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.content__word{
  color: #48494a;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 45px;
}
.content__label{
  color: #48494a;
  font-size: 14px;
}
.content__mail{
  background-color: #fff;
  box-shadow: 0 5px 5px 0.5px rgba(23, 24, 25, 0.05);
  width: 100%;
  padding: 18px 20px;
  border: none;
  color: #000;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 30px;
}
.content__button{
  color: #a2a2a2;
  background-color: #ff0000;
  font-size: 14px;
  font-weight: bold;
  outline: 0;
  border: none;
  padding: 16px 22px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}
.content__button:hover{
  box-shadow: 0 13px 22px 2px rgba(250, 25, 25, 0.45);
  text-decoration: none;
  color: #fff;
  transition: box-shadow linear 0.3s;
}
.content__subscribe{
  color: #fff;
  text-decoration: none;
}
.content__subscribe:hover{
  text-decoration: none;
  color: #fff;
}
.preview{
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 38px;
  padding-bottom: 24px;
}
.social__title{
  color: #80868e;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px
}
.social__icon{
  display: inline-flex;
  width: 170px;
}
.social__icon--facebook{
  fill: #13347f;
  fill-opacity: 0;
  stroke: #ffd200;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill-rule: evenodd;
}
.social__icon--facebook:hover{
  stroke: red;
  transition: all 0.5s ease-out;
}
.social__icon--twitter{
  fill: #13347f;
  fill-opacity: 0;
  stroke: #ffd200;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill-rule: evenodd;
}
.social__icon--twitter:hover{
  stroke: red;
  transition: all 0.5s ease-out;
}
.social__icon--youtube{
  fill: #13347f;
  fill-opacity: 0;
  stroke: #ffd200;
  stroke-linejoin: round;
  stroke-width: 2px;
  fill-rule: evenodd;
}
.social__icon--youtube:hover{
  stroke: red;
  transition: all 0.5s ease-out;
}
.social__icon--instagram{
  fill: #ffd200;
  fill-rule: evenodd;
}
.social__icon--instagram:hover{
  fill: red;
  transition: all 0.5s ease-out;
}
.developer{
  display: inline-table;
}
.developer__wezom{
  margin-right: 10px;
}
.developer__wezom:hover{
  box-shadow: 0 4px 12px 3px rgba(250, 25, 25, 0.45);
  transition: box-shadow linear 0.3s;
}
.developer__suptext{
  vertical-align: middle;
}
.developer__text{
  color: #80868e;
  font-size: 12px;
}
.developer__service{
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
